<html>
    <head>
       <title>Form Test Index</title>
       <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/style.css') }}">
    </head>
    <body>
    <div>
            {% with messages = get_flashed_messages() %}
			{% if messages %}
				{% for message in messages %}
					<p>{{ message }}</p>
				{% endfor %}
			{% endif %}
		{% endwith %}
    </div>

    <div class="container">
        
        <h1>Index Page</h1>
              
        <form action='/results' id='shane' method='POST'>
          Your Name: <input type='text' name='name'>
          Dojo Location: <input type='text' name='location'>
          Favorite Language: <input type='text' name='language'>
          Comments: <textarea name="comment">Enter text here...</textarea>
          <input type='submit' value='Submit'>
        </form>
                
    </div>
    </body>
</html>
